Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

shellcheck:
  run: shellcheck -S warning {staged_files}
  skip:
  - merge
  - rebase

yamllint:
  run: yamllint -d relaxed {staged_files}
  skip:
  - merge
  - rebase

zsh-syntax:
  run: "for f in {staged_files}; do\n  zsh -n \"$f\" || exit 1\ndone\n"
  skip:
  - merge
  - rebase

protected-vars:
  run: "protected=\"ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL\"\nfor f in {staged_files}; do\n  if grep -qE \"unset.+($protected)\" \"$f\"; then\n    echo \"❌ $f: 保護された変数をunsetしています\"\n    grep -nE \"unset.+($protected)\" \"$f\"\n    exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(codex): Too many open files対策としてfd上限引き上げとゾンビプロセス清掃を追加
  bin/cleanup-codex-zombies
  stow/claude/.claude/commands/pc-checkup.md
  stow/zsh/.zshrc
Due: none

fix(codex): Remoteセッションへ起動元cwdを明示
  README.md
  stow/zsh/.zsh/core.zsh
Due: zsh-syntax, protected-vars

fix(privacy): 個人向け設定を公開対象から分離
  .gitignore
  Makefile
  README.md
  stow/claude/.claude/CLAUDE.md
Due: none

feat(privacy): 個人設定を外部分離しプッシュ前の公開検査を追加
  .githooks/pre-push
  .gitignore
  Makefile
  README.md
  bin/check-public-content
  bin/setup-claude-local
  bin/setup-privacy-hook
  bootstrap.sh
  tests/test_privacy_setup.py
  tests/test_public_content.py
Due: shellcheck, protected-vars

feat(statusline): prompt_cache・PRリンク・git worktree表示を追加
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

docs(claude): prompt cache TTL の記述を実態（5分/1時間）に修正
  stow/claude/.claude/CLAUDE.md
Due: none

chore(brew): blender・discord を追加
  Brewfile
Due: none

feat(design): スライドのストーリー設計指針とOVSテーマ部品を追加
  stow/design/.agents/skills/otake-visual/references/slides.md
  stow/design/.config/otake/visual-system/generated/marp.css
  stow/design/.config/otake/visual-system/test/cli.test.mjs
  stow/design/.config/otake/visual-system/themes/marp.css.tpl
Due: none

refactor(slides): Claude /slides と Codex のスライド手順を共通指針へ集約
  stow/agents/.agents/skills/source-command-slides/SKILL.md
  stow/claude/.claude/commands/slides.md
  stow/design/.agents/skills/otake-visual/SKILL.md
  stow/design/.agents/skills/otake-visual/references/slides.md
  stow/design/.config/otake/visual-system/README.md
  stow/design/.config/otake/visual-system/examples/slide.md
Due: none

feat(slides): 自己紹介スライドの要否判断と用途別テンプレートを追加
  stow/design/.agents/skills/otake-visual/references/slides.md
  stow/design/.agents/skills/otake-visual/scripts/make-qr.swift
Due: none

fix(dev): Orca中心の開発環境に更新しCIの継続失敗を修正
  .github/workflows/ci.yml
  AGENTS.md
  Brewfile
  Makefile
  README.md
  stow/zsh/.zsh/core.zsh
  tests/bootstrap-safety.sh
Due: shellcheck, yamllint, zsh-syntax, protected-vars

fix(ci): Homebrew定義を更新して古いrunnerでの改名誤判定を防止
  .github/workflows/ci.yml
Due: yamllint

chore(brew): OVSのスライド・図解用フォントを追加
  Brewfile
  README.md
Due: none

feat(design): スライドの表紙と自己紹介をテーマのクラスで組めるようにする
  stow/design/.agents/skills/otake-visual/references/slides.md
  stow/design/.config/otake/visual-system/generated/marp.css
  stow/design/.config/otake/visual-system/themes/marp.css.tpl
Due: none

feat(design): 自己紹介を基本情報と本題との接点の構成に仕上げる
  stow/design/.agents/skills/otake-visual/references/slides.md
  stow/design/.config/otake/visual-system/generated/marp.css
  stow/design/.config/otake/visual-system/themes/marp.css.tpl
Due: none

docs(design): 自己紹介の右の枠を基本情報・代表実績・本題との接点の構成にする
  stow/design/.agents/skills/otake-visual/references/slides.md
Due: none

docs(design): LT型の自己紹介をQRなし・拠点起点の3項目にする
  stow/design/.agents/skills/otake-visual/references/slides.md
Due: none

docs(design): LT型の自己紹介の3項目目を固定の開発スタイルにする
  stow/design/.agents/skills/otake-visual/references/slides.md
Due: none

docs(design): LT型の自己紹介を拠点・実績・資格・開発スタイルの4項目にする
  stow/design/.agents/skills/otake-visual/references/slides.md
Due: none

docs(design): LT型の自己紹介の4項目を太字なしの同格にする
  stow/design/.agents/skills/otake-visual/references/slides.md
Due: none

feat(slides): ベストプラクティスに基づき指針を再構成しスライド検査を追加
  Makefile
  README.md
  stow/agents/.agents/skills/source-command-slides/SKILL.md
  stow/claude/.claude/commands/slides.md
  stow/design/.agents/skills/otake-visual/SKILL.md
  stow/design/.agents/skills/otake-visual/references/slides-design.md
  stow/design/.agents/skills/otake-visual/references/slides-marp.md
  stow/design/.agents/skills/otake-visual/references/slides-review.md
  stow/design/.agents/skills/otake-visual/references/slides-self-intro.md
  stow/design/.agents/skills/otake-visual/references/slides-sources.md
  stow/design/.agents/skills/otake-visual/references/slides-story.md
  stow/design/.agents/skills/otake-visual/references/slides.md
  stow/design/.config/otake/visual-system/README.md
  stow/design/.config/otake/visual-system/examples/slide.md
  stow/design/.config/otake/visual-system/generated/marp.css
  stow/design/.config/otake/visual-system/scripts/browser.mjs
  stow/design/.config/otake/visual-system/scripts/deck-check.mjs
  stow/design/.config/otake/visual-system/scripts/deck.mjs
  stow/design/.config/otake/visual-system/scripts/ovs.mjs
  stow/design/.config/otake/visual-system/test/deck.test.mjs
  stow/design/.config/otake/visual-system/themes/marp.css.tpl
Due: none

feat(orca): Automationsをコード管理し朝の開発トリアージを追加
  .gitignore
  Makefile
  README.md
  bin/orca-automations
  bin/orca-dev-triage-precheck
  orca/automations/dev-triage.json
  orca/automations/dev-triage.md
  tests/test_orca_automations.py
Due: none

chore(gitignore): Spark CLIが生成するuse-sparkスキルを除外
  .gitignore
Due: none

feat(design): 物語型スライドのcreate-story-slidesスキルを追加
  README.md
  stow/claude/.claude/skills/create-story-slides
  stow/design/.agents/skills/create-story-slides/SKILL.md
  stow/design/.agents/skills/create-story-slides/agents/openai.yaml
  stow/design/.agents/skills/create-story-slides/assets/sample-deck.md
  stow/design/.agents/skills/create-story-slides/assets/sample-variants.md
  stow/design/.agents/skills/create-story-slides/assets/story-slides.css
  stow/design/.agents/skills/create-story-slides/references/cover-templates.md
  stow/design/.agents/skills/create-story-slides/references/design-system.md
  stow/design/.agents/skills/create-story-slides/references/layout-catalog.md
  stow/design/.agents/skills/create-story-slides/references/marp-output.md
  stow/design/.agents/skills/create-story-slides/references/navigation-components.md
  stow/design/.agents/skills/create-story-slides/references/presenter-introduction.md
  stow/design/.agents/skills/create-story-slides/references/reference-derived-patterns.md
  stow/design/.agents/skills/create-story-slides/references/story-modes.md
  stow/design/.agents/skills/create-story-slides/scripts/build.sh
Due: shellcheck, yamllint, protected-vars

docs(design): 意図と利用者負担に基づくレビュー指針を追加
  stow/design/.agents/skills/create-story-slides/SKILL.md
  stow/design/.agents/skills/exam-app-design-system/SKILL.md
  stow/design/.agents/skills/exam-app-design-system/references/acceptance-checklist.md
  stow/design/.agents/skills/otake-visual/SKILL.md
  stow/design/.agents/skills/otake-visual/references/design-intent.md
  stow/design/.agents/skills/otake-visual/references/slides-design.md
  stow/design/.agents/skills/otake-visual/references/slides-review.md
Due: none

feat(design): create-story-slidesに図解・実画面・アイコンの工程と取得スクリプトを追加
  stow/design/.agents/skills/create-story-slides/SKILL.md
  stow/design/.agents/skills/create-story-slides/assets/story-slides.css
  stow/design/.agents/skills/create-story-slides/references/design-system.md
  stow/design/.agents/skills/create-story-slides/references/marp-output.md
  stow/design/.agents/skills/create-story-slides/scripts/export-brand-marks.mjs
  stow/design/.agents/skills/create-story-slides/scripts/fetch-icons.sh
Due: shellcheck, protected-vars

feat(design): OVSのコントラスト検査と検証ループを整備
  AGENTS.md
  Makefile
  README.md
  stow/agents/.agents/skills/source-command-verify/SKILL.md
  stow/design/.agents/skills/otake-visual/SKILL.md
  stow/design/.config/otake/visual-system/README.md
  stow/design/.config/otake/visual-system/examples/self-introduction/assets/self-intro-personal-system-slide.png
  stow/design/.config/otake/visual-system/examples/self-introduction/assets/self-intro-personal-system-slide.svg
  stow/design/.config/otake/visual-system/generated/marp.css
  stow/design/.config/otake/visual-system/generated/templates/architecture.svg
  stow/design/.config/otake/visual-system/generated/templates/before-after.svg
  stow/design/.config/otake/visual-system/generated/templates/definition.svg
  stow/design/.config/otake/visual-system/generated/templates/flow.svg
  stow/design/.config/otake/visual-system/generated/templates/gantt.svg
  stow/design/.config/otake/visual-system/generated/templates/matrix.svg
  stow/design/.config/otake/visual-system/generated/templates/raci.svg
  stow/design/.config/otake/visual-system/generated/templates/raid.svg
  stow/design/.config/otake/visual-system/generated/templates/roadmap.svg
  stow/design/.config/otake/visual-system/generated/templates/status-board.svg
  stow/design/.config/otake/visual-system/generated/templates/warning.svg
  stow/design/.config/otake/visual-system/scripts/contrast-mutation.mjs
  stow/design/.config/otake/visual-system/scripts/ovs.mjs
  stow/design/.config/otake/visual-system/scripts/svg-contrast.mjs
  stow/design/.config/otake/visual-system/templates/architecture.svg.tpl
  stow/design/.config/otake/visual-system/templates/before-after.svg.tpl
  stow/design/.config/otake/visual-system/templates/definition.svg.tpl
  stow/design/.config/otake/visual-system/templates/flow.svg.tpl
  stow/design/.config/otake/visual-system/templates/gantt.svg.tpl
  stow/design/.config/otake/visual-system/templates/matrix.svg.tpl
  stow/design/.config/otake/visual-system/templates/raci.svg.tpl
  stow/design/.config/otake/visual-system/templates/raid.svg.tpl
  stow/design/.config/otake/visual-system/templates/roadmap.svg.tpl
  stow/design/.config/otake/visual-system/templates/status-board.svg.tpl
  stow/design/.config/otake/visual-system/templates/warning.svg.tpl
  stow/design/.config/otake/visual-system/test/contrast.test.mjs
Due: none

docs(design): create-story-slidesのL13で画像を.detailに置く注意を追記
  stow/design/.agents/skills/create-story-slides/references/marp-output.md
Due: none

feat(statusline): effortをモデルの既定値基準にし、キャッシュのTTLと冷えた時の書き直し量を表示
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat(design): ネタからLTスライドを素早く作るlt-deckスキルを追加
  README.md
  stow/claude/.claude/skills/lt-deck
  stow/design/.agents/skills/lt-deck/SKILL.md
  stow/design/.agents/skills/lt-deck/agents/openai.yaml
  stow/design/.agents/skills/lt-deck/scripts/ansi2html.py
  stow/design/.agents/skills/lt-deck/scripts/new-lt.sh
Due: shellcheck, yamllint, protected-vars

docs: READMEにlt-deckスキルの紹介を追記
  README.md
Due: none

feat(agents): コアQのセット制作を再開するcoreq-productionスキルを追加
  README.md
  stow/agents/.agents/skills/coreq-production/SKILL.md
  stow/agents/.agents/skills/coreq-production/agents/openai.yaml
  stow/agents/.agents/skills/coreq-production/references/workflow.md
  stow/agents/.agents/skills/coreq-production/scripts/inspect-set.mjs
  stow/agents/.agents/skills/coreq-production/scripts/inspect-set.test.mjs
Due: yamllint

feat(templates): プロダクト着任時のキャッチアップキットを追加
  README.md
  templates/product-onboarding/README.md
  templates/product-onboarding/catchup.template.md
  templates/product-onboarding/connections.template.md
  templates/product-onboarding/profile.template.md
Due: none

refactor(design): スライド制作の正本をcreate-story-slidesに集約
  README.md
  stow/agents/.agents/skills/source-command-slides/SKILL.md
  stow/claude/.claude/commands/slides.md
  stow/design/.agents/design/design-intent.md
  stow/design/.agents/skills/create-story-slides/SKILL.md
  stow/design/.agents/skills/create-story-slides/agents/openai.yaml
  stow/design/.agents/skills/create-story-slides/references/design-system.md
  stow/design/.agents/skills/create-story-slides/references/layout-catalog.md
  stow/design/.agents/skills/create-story-slides/references/marp-output.md
  stow/design/.agents/skills/create-story-slides/references/ovs-compatibility.md
  stow/design/.agents/skills/create-story-slides/references/review.md
  stow/design/.agents/skills/create-story-slides/references/sources.md
  stow/design/.agents/skills/create-story-slides/references/story-modes.md
  stow/design/.agents/skills/create-story-slides/scripts/build.sh
  stow/design/.agents/skills/exam-app-design-system/SKILL.md
  stow/design/.agents/skills/exam-app-design-system/references/acceptance-checklist.md
  stow/design/.agents/skills/otake-visual/SKILL.md
  stow/design/.agents/skills/otake-visual/references/design-intent.md
  stow/design/.agents/skills/otake-visual/references/slides-design.md
  stow/design/.agents/skills/otake-visual/references/slides-marp.md
  stow/design/.agents/skills/otake-visual/references/slides-review.md
  stow/design/.agents/skills/otake-visual/references/slides-self-intro.md
  stow/design/.agents/skills/otake-visual/references/slides-sources.md
  stow/design/.agents/skills/otake-visual/references/slides-story.md
  stow/design/.agents/skills/otake-visual/references/slides.md
  stow/design/.config/otake/visual-system/README.md
  stow/design/.config/otake/visual-system/scripts/deck.mjs
  stow/design/.config/otake/visual-system/test/deck.test.mjs
  stow/design/.config/otake/visual-system/test/slide-build.test.mjs
Due: shellcheck, yamllint, protected-vars

feat(agents): 計画を整理するproject-planningスキルと計画スライドの雛形を追加
  README.md
  docs/project-management/README.md
  stow/agents/.agents/skills/project-planning/SKILL.md
  stow/agents/.agents/skills/project-planning/references/project-plan.md
  stow/agents/.agents/skills/project-planning/references/schedule-levels.md
  stow/agents/.agents/skills/project-planning/references/sheets-schedule.md
  templates/project-plan-slides/README.md
  templates/project-plan-slides/deck.md
Due: none

feat(agents): Obsidian Vaultを参照するpersonal-agentスキルを追加
  README.md
  stow/agents/.agents/skills/personal-agent/SKILL.md
Due: none

chore(agents): OrcaのスキルをSkill lockに記録
  stow/agents/.agents/.skill-lock.json
Due: none

Path conditions:
  shellcheck: any of: *.sh
  yamllint: any of: *.{yml,yaml}
  zsh-syntax: any of: *.zsh
  protected-vars: any of: *.{zsh,sh}
