Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

shellcheck:
  run: shellcheck -S warning {staged_files}
  skip:
  - merge
  - rebase

yamllint:
  run: yamllint -d relaxed {staged_files}
  skip:
  - merge
  - rebase

zsh-syntax:
  run: "for f in {staged_files}; do\n  zsh -n \"$f\" || exit 1\ndone\n"
  skip:
  - merge
  - rebase

protected-vars:
  run: "protected=\"ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL\"\nfor f in {staged_files}; do\n  if grep -qE \"unset.+($protected)\" \"$f\"; then\n    echo \"❌ $f: 保護された変数をunsetしています\"\n    grep -nE \"unset.+($protected)\" \"$f\"\n    exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

chore(cursor): Cursor利用をやめたため stow パッケージと関連Makeターゲットを削除
  Makefile
  README.md
  stow/cursor/.config/cursor/extensions.txt
  stow/cursor/README.md
Due: none

chore(claude): テーマをdarkに設定しcodexランタイム生成物をignore
  .gitignore
  stow/claude/.claude/settings.json
Due: none

chore(codex): Obsidian VaultをCodex信頼プロジェクトに追加
  stow/codex/.codex/config.toml
Due: none

chore(git): GitHub認証にghのcredential helperを設定
  stow/git/.gitconfig
Due: none

fix(validate): tomllib対応pythonを自動検出しmacOSの古いpython3でも動かす
  Makefile
Due: none

chore(claude): マルチモデル運用へ設定を最適化（Fable従量課金化に備え）
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/agents/explore-lite.md
  stow/claude/.claude/engineering-quality.md
  stow/claude/.claude/environment.md
  stow/claude/.claude/settings.json
Due: none

chore(claude): 自作スキルを追跡しランタイム生成物をignore、MCP記述を実態に修正
  .gitignore
  stow/claude/.claude/environment.md
  stow/claude/.claude/skills/grill-me/ATTRIBUTION.md
  stow/claude/.claude/skills/grill-me/SKILL.md
  stow/claude/.claude/skills/grilling/SKILL.md
  stow/claude/.claude/skills/quality-bootstrap/SKILL.md
Due: none

chore: zoxide doctor警告を抑止し、MCPサーバー構成を再現可能に記録
  stow/claude/.claude/environment.md
  stow/zsh/.zsh/tools.zsh
Due: zsh-syntax, protected-vars

docs(claude): MCP復元手順の正をbootstrap.shセクション6に統一
  stow/claude/.claude/environment.md
Due: none

feat(claude): モデル委譲ルーティングを導入しtoken単価を最適化
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/agents/coder-std.md
  stow/claude/.claude/agents/verify-lite.md
Due: none

feat(brew): mas経由でLINEを追加しApp Store製アプリも自動導入に
  Brewfile
Due: none

feat(codex): モデルルーティングを導入しプロファイル・agentsを追跡
  .gitignore
  README.md
  stow/codex/.codex/AGENTS.md
  stow/codex/.codex/agents/expert.toml
  stow/codex/.codex/agents/explorer.toml
  stow/codex/.codex/agents/reviewer.toml
  stow/codex/.codex/agents/worker.toml
  stow/codex/.codex/bin/model-usage.sh
  stow/codex/.codex/deep.config.toml
  stow/codex/.codex/fast.config.toml
  stow/codex/.codex/low-friction.config.toml
  stow/codex/.codex/research.config.toml
  stow/codex/.codex/review.config.toml
  stow/codex/.codex/spark.config.toml
Due: shellcheck, protected-vars

feat(codex): モデルルーティングを導入しプロファイル・agentsを追跡
  .gitignore
  README.md
  stow/codex/.codex/AGENTS.md
  stow/codex/.codex/agents/expert.toml
  stow/codex/.codex/agents/explorer.toml
  stow/codex/.codex/agents/reviewer.toml
  stow/codex/.codex/agents/worker.toml
  stow/codex/.codex/bin/model-usage.sh
  stow/codex/.codex/config.toml
  stow/codex/.codex/deep.config.toml
  stow/codex/.codex/fast.config.toml
  stow/codex/.codex/low-friction.config.toml
  stow/codex/.codex/research.config.toml
  stow/codex/.codex/review.config.toml
  stow/codex/.codex/spark.config.toml
Due: shellcheck, protected-vars

fix: 新PC移植性と権限ガードを強化（validate赤の解消）
  Makefile
  bootstrap.sh
  stow/claude/.claude/settings.json
  stow/git/.gitconfig
  stow/zsh/.zsh/tools.zsh
  stow/zsh/.zshenv
Due: shellcheck, zsh-syntax, protected-vars

feat(claude): add codex-debate skill (Codex CLIとの敵対的相互検証議論の自動化)
  stow/claude/.claude/skills/codex-debate/SKILL.md
Due: none

feat(zsh): 端末起動中は画面OFFを抑止（電池残量連動）
  stow/zsh/.zsh/core.zsh
Due: zsh-syntax, protected-vars

Path conditions:
  shellcheck: any of: *.sh
  yamllint: any of: *.{yml,yaml}
  zsh-syntax: any of: *.zsh
  protected-vars: any of: *.{zsh,sh}
