Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

shellcheck:
  run: shellcheck -S warning {staged_files}
  skip:
  - merge
  - rebase

yamllint:
  run: yamllint -d relaxed {staged_files}
  skip:
  - merge
  - rebase

zsh-syntax:
  run: "for f in {staged_files}; do\n  zsh -n \"$f\" || exit 1\ndone\n"
  skip:
  - merge
  - rebase

protected-vars:
  run: "protected=\"ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL\"\nfor f in {staged_files}; do\n  if grep -qE \"unset.+($protected)\" \"$f\"; then\n    echo \"❌ $f: 保護された変数をunsetしています\"\n    grep -nE \"unset.+($protected)\" \"$f\"\n    exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

chore: lefthook削除（個人dotfilesに過剰なpre-commit hooks不要）
  .github/workflows/ci.yml
  Brewfile
  README.md
  bootstrap.sh
  docs/ARCHITECTURE.md
  docs/TROUBLESHOOTING.md
  lefthook.yml
  scripts/maintenance/verify-setup.sh
Due: shellcheck, yamllint, protected-vars

chore: スクリプト5削除（dothelp/setup-ssh/zsh-benchmark/check-updates/update-all）
  Makefile
  README.md
  bootstrap.sh
  docs/ARCHITECTURE.md
  scripts/maintenance/check-updates.sh
  scripts/maintenance/update-all.sh
  scripts/setup/ssh-config.template
  scripts/utils/dothelp.sh
  scripts/utils/setup-ssh.sh
  scripts/utils/zsh-benchmark.sh
  stow/README.md
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/core.zsh
  stow/zsh/.zsh/tools.zsh
Due: shellcheck, zsh-syntax, protected-vars

refactor: scripts統合・削減（12→5ファイル、1930→479行）
  Makefile
  README.md
  scripts/lib/common.sh
  scripts/lib/os-detect.sh
  scripts/maintenance/sync-brewfile.sh
  scripts/maintenance/verify-setup.sh
  stow/zsh/.zsh/aliases/core.zsh
Due: shellcheck, zsh-syntax, protected-vars

refactor: scripts/をフラット化（サブディレクトリ廃止）
  Library
  Makefile
  bootstrap.sh
  docs/TROUBLESHOOTING.md
  scripts/common.sh
  scripts/macos-defaults.sh
  scripts/op-env.sh
  scripts/pam-watchid.sh
  scripts/verify-setup.sh
  stow/claude/.claude/settings.json
  stow/zsh/.zsh/aliases/core.zsh
Due: shellcheck, zsh-syntax, protected-vars

fix: 誤ってコミットされたLibraryシンボリックリンクを除去
  Library
Due: none

refactor: common.sh・verify-setup.sh削除、bootstrap.shに関数埋め込み
  Makefile
  README.md
  bootstrap.sh
  scripts/common.sh
  scripts/verify-setup.sh
  stow/zsh/.zsh/aliases/core.zsh
Due: shellcheck, zsh-syntax, protected-vars

refactor: scripts/を1ファイルに（macos-defaults埋め込み、op-env削除）
  bootstrap.sh
  scripts/macos-defaults.sh
  scripts/op-env.sh
  scripts/pam-watchid.sh
Due: shellcheck, protected-vars

refactor: scripts/ディレクトリ廃止（pam-watchidをbootstrap.shに統合）
  Makefile
  bootstrap.sh
  scripts/pam-watchid.sh
Due: shellcheck, protected-vars

refactor: docs/廃止、READMEに統合
  README.md
  docs/ARCHITECTURE.md
  docs/TROUBLESHOOTING.md
Due: none

fix: 削減作業の残骸を一括修正
  .editorconfig
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .gitignore
  .serena/.gitignore
  .serena/project.yml
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/aliases/dev.zsh
Due: yamllint, zsh-syntax, protected-vars

chore: stow/claude大幅削減（55→29ファイル）
  stow/claude/.claude/commands/learn.md
  stow/claude/.claude/commands/organize-downloads.md
  stow/claude/.claude/skills/accessibility-audit/SKILL.md
  stow/claude/.claude/skills/api-design/SKILL.md
  stow/claude/.claude/skills/browser-use/SKILL.md
  stow/claude/.claude/skills/content-publishing/SKILL.md
  stow/claude/.claude/skills/figma-to-code/SKILL.md
  stow/claude/.claude/skills/find-skills/SKILL.md
  stow/claude/.claude/skills/funnel-analysis/SKILL.md
  stow/claude/.claude/skills/observability-setup/SKILL.md
  stow/claude/.claude/skills/performance-profiling/SKILL.md
  stow/claude/.claude/skills/security-audit/SKILL.md
  stow/claude/.claude/skills/seo-technical-audit/SKILL.md
  stow/claude/.claude/skills/shindanshi-data/SKILL.md
  stow/claude/.claude/skills/skill-creator/SKILL.md
  stow/claude/.claude/skills/stripe-best-practices/SKILL.md
  stow/claude/.claude/skills/supabase-migration/SKILL.md
  stow/claude/.claude/skills/supabase-postgres-best-practices/SKILL.md
  stow/claude/.claude/skills/template-sync/SKILL.md
  stow/claude/.claude/skills/typescript-strict-patterns/SKILL.md
  stow/claude/.claude/skills/ui-ux-pro-max/SKILL.md
  stow/claude/.claude/skills/vercel-react-best-practices/SKILL.md
  stow/claude/.claude/statusline-command.sh
  stow/claude/.claude/validate.sh
  stow/claude/Library/LaunchAgents/com.claude-code.auto-update.plist
  stow/claude/README.md
Due: shellcheck, protected-vars

refactor: zsh設定の構造整理（direnv二重初期化修正、関数/エイリアス分離）
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/aliases/git.zsh
  stow/zsh/.zsh/core.zsh
  stow/zsh/.zsh/functions/git-functions.zsh
  stow/zsh/.zsh/lazy.zsh
  stow/zsh/.zshrc
Due: zsh-syntax, protected-vars

chore: stow配下の整理（不要ファイル削除、構造統一）
  .editorconfig
  stow/README.md
  stow/claude/.claude/hooks/auto-update.sh
  stow/claude/.claude/templates/team-plan-template.md
  stow/zsh/.zsh/aliases/core.zsh
Due: shellcheck, zsh-syntax, protected-vars

fix: gitパッケージのstow展開を整理
  stow/git/.gitconfig
  stow/git/.stow-local-ignore
Due: none

chore: カスタムagents/削除（ビルトイン・プラグインと重複）
  stow/claude/.claude/agents/architecture-reviewer.md
  stow/claude/.claude/agents/code-reviewer.md
  stow/claude/.claude/agents/frontend-engineer.md
  stow/claude/.claude/agents/spec-analyst.md
  stow/claude/.claude/agents/test-engineer.md
Due: none

refactor: zshパッケージ整理（-2ファイル、-226行）
  stow/zsh/.aliases
  stow/zsh/.zsh/aliases/dev.zsh
  stow/zsh/.zsh/aliases/git.zsh
  stow/zsh/.zsh/aliases/node.zsh
  stow/zsh/.zsh/core.zsh
  stow/zsh/.zsh/functions/util-functions.zsh
Due: zsh-syntax, protected-vars

chore: ripgrep冗長除外パターン削除、未使用.direnvrc削除
  stow/direnv/.direnvrc
  stow/ripgrep/.ripgreprc
Due: none

refactor: ripgrep/ghパッケージ廃止（12→10パッケージ）
  Makefile
  README.md
  bootstrap.sh
  stow/gh/.config/gh/config.yml
  stow/ripgrep/.ripgreprc
  stow/zsh/.zsh/aliases/core.zsh
Due: shellcheck, yamllint, zsh-syntax, protected-vars

feat: cmuxワークスペース4つ追加（3→7コマンド）
  stow/cmux/.config/cmux/cmux.json
Due: none

fix: 削除済みパッケージの残存参照を一掃
  .github/workflows/ci.yml
  bootstrap.sh
  stow/claude/.claude/environment.md
Due: shellcheck, yamllint, protected-vars

refactor: CLAUDE.md重複排除、environment.mdスリム化、パッケージリストDRY化
  .github/workflows/ci.yml
  Makefile
  bootstrap.sh
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/environment.md
Due: shellcheck, yamllint, protected-vars

Path conditions:
  shellcheck: any of: *.sh
  yamllint: any of: *.{yml,yaml}
  zsh-syntax: any of: *.zsh
  protected-vars: any of: *.{zsh,sh}
