Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

shellcheck:
  run: shellcheck -S warning {staged_files}
  skip:
  - merge
  - rebase

yamllint:
  run: yamllint -d relaxed {staged_files}
  skip:
  - merge
  - rebase

zsh-syntax:
  run: "for f in {staged_files}; do\n  zsh -n \"$f\" || exit 1\ndone\n"
  skip:
  - merge
  - rebase

protected-vars:
  run: "protected=\"ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL\"\nfor f in {staged_files}; do\n  if grep -qE \"unset.+($protected)\" \"$f\"; then\n    echo \"❌ $f: 保護された変数をunsetしています\"\n    grep -nE \"unset.+($protected)\" \"$f\"\n    exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(claude): statuslineのモデル表示にバージョン番号を追加
  stow/claude/.claude/settings.json
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat(claude): Claude Code自動アップデートの仕組みを追加
  stow/claude/.claude/scripts/auto-update.sh
  stow/claude/Library/LaunchAgents/com.claude-code.auto-update.plist
Due: shellcheck, protected-vars

refactor: dotfilesリポジトリ総合審査の改善を適用
  bootstrap.sh
  stow/claude/.claude/hooks/notify.sh
  stow/claude/README.md
Due: shellcheck, protected-vars

feat(claude): Context7の自動利用ルールを追加
  stow/claude/.claude/environment.md
Due: none

feat(claude): Bash(*)を具体的コマンドに分解し最小権限原則を適用
  stow/claude/.claude/agents/architecture-reviewer.md
  stow/claude/.claude/agents/code-reviewer.md
  stow/claude/.claude/agents/frontend-engineer.md
  stow/claude/.claude/agents/spec-analyst.md
  stow/claude/.claude/agents/test-engineer.md
  stow/claude/.claude/commands/commit-push.md
  stow/claude/.claude/commands/learn.md
  stow/claude/.claude/commands/organize-downloads.md
  stow/claude/.claude/commands/pc-checkup.md
  stow/claude/.claude/commands/review.md
  stow/claude/.claude/commands/spec.md
  stow/claude/.claude/commands/test.md
  stow/claude/.claude/commands/verify.md
  stow/claude/.claude/commands/worktree.md
  stow/claude/.claude/settings.json
Due: none

feat: dotfiles 100点化 - CI/冪等性/判断記録の改善
  .github/workflows/ci.yml
  Makefile
  bootstrap.sh
  docs/ARCHITECTURE.md
  scripts/lib/common.sh
Due: shellcheck, yamllint, protected-vars

feat(claude): セキュリティ設定強化とsandbox導入
  stow/claude/.claude/environment.md
  stow/claude/.claude/settings.json
Due: none

feat(claude): 11カスタムスキル追加で環境100点化
  stow/claude/.claude/skills/accessibility-audit/SKILL.md
  stow/claude/.claude/skills/api-design/SKILL.md
  stow/claude/.claude/skills/browser-use/SKILL.md
  stow/claude/.claude/skills/content-publishing/SKILL.md
  stow/claude/.claude/skills/figma-to-code/SKILL.md
  stow/claude/.claude/skills/find-skills/SKILL.md
  stow/claude/.claude/skills/funnel-analysis/SKILL.md
  stow/claude/.claude/skills/observability-setup/SKILL.md
  stow/claude/.claude/skills/performance-profiling/SKILL.md
  stow/claude/.claude/skills/security-audit/SKILL.md
  stow/claude/.claude/skills/seo-technical-audit/SKILL.md
  stow/claude/.claude/skills/skill-creator/SKILL.md
  stow/claude/.claude/skills/stripe-best-practices/SKILL.md
  stow/claude/.claude/skills/supabase-migration/SKILL.md
  stow/claude/.claude/skills/supabase-postgres-best-practices/SKILL.md
  stow/claude/.claude/skills/template-sync/SKILL.md
  stow/claude/.claude/skills/typescript-strict-patterns/SKILL.md
  stow/claude/.claude/skills/ui-ux-pro-max/SKILL.md
  stow/claude/.claude/skills/vercel-react-best-practices/SKILL.md
Due: none

refactor(claude): Bash権限をBash(*)に統合
  stow/claude/.claude/settings.json
Due: none

feat(claude): /slidesコマンドとMarp CLI統合を追加
  Brewfile
  stow/claude/.claude/commands/slides-theme.css
  stow/claude/.claude/commands/slides.md
Due: none

feat(claude): Catppuccin Latteテーマ + スライドテンプレート追加
  stow/claude/.claude/commands/slides-theme.css
  stow/claude/.claude/commands/slides.md
Due: none

feat(claude): 組織図クラス(.org-chart)をMarpテーマに追加
  stow/claude/.claude/commands/slides-theme.css
  stow/claude/.claude/commands/slides.md
Due: none

feat(claude): スライドテーマにtimeline/metricクラス追加 + チーム計画テンプレート洗練
  stow/claude/.claude/commands/slides-theme.css
  stow/claude/.claude/commands/slides.md
  stow/claude/.claude/commands/team-plan-template.md
Due: none

docs: READMEにslidesコマンドとAtlassian MCP追加
  README.md
Due: none

docs: READMEにスライド生成機能の説明を追加
  README.md
Due: none

docs: READMEスリム化（245行→170行）+ 正確性修正
  README.md
  docs/TROUBLESHOOTING.md
Due: none

feat(claude): gws MCP統合 + skill-creator最新パターン対応
  stow/claude/.claude/environment.md
  stow/claude/.claude/settings.json
  stow/claude/.claude/setup.sh
  stow/claude/.claude/skills/skill-creator/SKILL.md
Due: shellcheck, protected-vars

chore(brew): uvicorn追加（FastAPI開発用ASGIサーバー）
  Brewfile
Due: none

chore: android-studio追加、pam-watchid・gws・Claude設定の更新
  Brewfile
  README.md
  bootstrap.sh
  docs/GITHUB_PROJECT_MANAGEMENT.md
  docs/TROUBLESHOOTING.md
  scripts/setup/pam-watchid.sh
  scripts/setup/pmbok-gas-automation.js
  scripts/setup/pmbok-spreadsheet.sh
  stow/claude/.claude/environment.md
  stow/claude/.claude/settings.json
  stow/claude/.claude/skills/shindanshi-data/SKILL.md
  stow/zsh/.zsh/lazy.zsh
Due: shellcheck, zsh-syntax, protected-vars

fix(claude): パーミッション穴修正 + 設定文書の実態整合
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/environment.md
  stow/claude/.claude/settings.json
  stow/claude/.claude/validate.sh
Due: shellcheck, protected-vars

refactor: Antigravityエディタ設定を全面削除
  Brewfile
  Makefile
  README.md
  bootstrap.sh
  docs/ARCHITECTURE.md
  stow/README.md
  stow/antigravity/extensions.txt
  stow/antigravity/keybindings.json
  stow/antigravity/settings.json
  stow/claude/.claude/environment.md
  stow/nvim/.config/nvim/init.lua
  stow/yazi/.config/yazi/keymap.toml
  stow/yazi/.config/yazi/yazi.toml
  stow/zsh/.zsh/tools.zsh
Due: shellcheck, zsh-syntax, protected-vars

chore: 未使用ツール削除（uv, uvicorn, terraform-docs, tflint, py/rs/go formatter）
  Brewfile
  stow/claude/.claude/environment.md
  stow/claude/.claude/hooks/auto-format.sh
  stow/claude/.claude/validate.sh
Due: shellcheck, protected-vars

fix(ci): zsh構文チェックでディレクトリを除外（-type f追加）
  .github/workflows/ci.yml
Due: yamllint

chore: 未使用のclaude-learning.ymlワークフロー削除
  .github/workflows/claude-learning.yml
Due: yamllint

feat: cmux（Ghosttyベースターミナル）をdotfiles管理に追加
  Brewfile
  scripts/setup/macos_defaults.sh
Due: shellcheck, protected-vars

Path conditions:
  shellcheck: any of: *.sh
  yamllint: any of: *.{yml,yaml}
  zsh-syntax: any of: *.zsh
  protected-vars: any of: *.{zsh,sh}
