Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

shellcheck:
  run: shellcheck -S warning {staged_files}
  skip:
  - merge
  - rebase

yamllint:
  run: yamllint -d relaxed {staged_files}
  skip:
  - merge
  - rebase

zsh-syntax:
  run: "for f in {staged_files}; do\n  zsh -n \"$f\" || exit 1\ndone\n"
  skip:
  - merge
  - rebase

protected-vars:
  run: "protected=\"ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL\"\nfor f in {staged_files}; do\n  if grep -qE \"unset.+($protected)\" \"$f\"; then\n    echo \"❌ $f: 保護された変数をunsetしています\"\n    grep -nE \"unset.+($protected)\" \"$f\"\n    exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

docs(bootstrap): 次のステップを整理（必須/オプション分離）
  bootstrap.sh
Due: shellcheck, protected-vars

fix(macos): 起動音設定を削除してsudo不要に
  scripts/setup/macos_defaults.sh
Due: shellcheck, protected-vars

refactor(macos): 開発者向け設定に絞り込み（汎用化）
  scripts/setup/macos_defaults.sh
Due: shellcheck, protected-vars

perf(zsh): zcompdump TTLを7日に延長
  stow/zsh/.zsh/plugins.zsh
Due: zsh-syntax, protected-vars

refactor(scripts): 関数名にdotfiles_接頭辞を追加
  scripts/lib/common.sh
Due: shellcheck, protected-vars

docs: Brewfile選定理由・README整備
  .gitignore
  Brewfile
  stow/README.md
  stow/claude/.claude/CLAUDE.md
Due: none

docs: コメント修正・ドキュメント誤記修正
  scripts/lib/common.sh
  stow/claude/.claude/CLAUDE.md
Due: shellcheck, protected-vars

feat: Tailscale/リモートアクセス設定を追加
  Brewfile
  README.md
  docs/remote-access.md
  stow/zsh/.zsh/aliases/core.zsh
Due: zsh-syntax, protected-vars

feat(brew): difftasticを追加
  Brewfile
Due: none

refactor: asdf→mise移行、yazi削除、gh-dash追加
  Brewfile
  README.md
  bootstrap.sh
  docs/ARCHITECTURE.md
  docs/TROUBLESHOOTING.md
  docs/setup/APPS.md
  scripts/maintenance/update_all.sh
  scripts/maintenance/verify_setup.sh
  stow/zsh/.p10k.zsh
  stow/zsh/.tool-versions
  stow/zsh/.zsh/lazy.zsh
  stow/zsh/.zshrc
Due: shellcheck, zsh-syntax, protected-vars

feat(zsh): fp関数追加（fzf+batでファイルプレビュー）
  stow/zsh/.zsh/functions/fzf-functions.zsh
Due: zsh-syntax, protected-vars

docs(claude): MCP整理（12個→5個に削減）
  stow/claude/.claude/CLAUDE.md
Due: none

Revert "refactor: asdf→mise移行、yazi削除、gh-dash追加"
  Brewfile
  README.md
  bootstrap.sh
  docs/ARCHITECTURE.md
  docs/TROUBLESHOOTING.md
  docs/setup/APPS.md
  scripts/maintenance/update_all.sh
  scripts/maintenance/verify_setup.sh
  stow/zsh/.p10k.zsh
  stow/zsh/.tool-versions
  stow/zsh/.zsh/lazy.zsh
  stow/zsh/.zshrc
Due: shellcheck, zsh-syntax, protected-vars

docs(brew): gh-dash拡張の情報を追加
  Brewfile
Due: none

docs: READMEのMCPサーバー数をCLAUDE.mdと同期
  README.md
  stow/claude/.claude/CLAUDE.md
Due: none

feat(ai-prompts): AIプロンプト管理用パッケージを追加
  Makefile
  stow/ai-prompts/.ai-prompts/README.md
  stow/ai-prompts/.ai-prompts/claude/project-templates/README.md
  stow/ai-prompts/.ai-prompts/gemini/_template.md
  stow/ai-prompts/.ai-prompts/gemini/coding-mentor.md
Due: none

feat(zellij): ターミナルマルチプレクサZellijを追加、tmux削除
  Brewfile
  Makefile
  stow/zellij/.config/zellij/config.kdl
Due: none

feat(claude): statusline設定をdotfiles管理に追加
  stow/claude/.claude/settings.json
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

refactor(claude): statuslineをNerd Fontアイコン版に改善
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat(claude): statuslineに経過時間と行数追加
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

style(claude): statusline全項目にアイコン追加
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

fix(claude): statuslineアイコンをprintfで生成
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

fix(claude): statuslineアイコンをUTF-8バイト列で指定
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat(claude): モデル名をフルネーム+色分けで表示
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

fix(claude): ロボットアイコンを正しいコードポイントに修正
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

fix(claude): 脳アイコンを正しいコードポイントに修正
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

Revert "fix(claude): 脳アイコンを正しいコードポイントに修正"
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat(claude): モデルアイコンを脳に変更
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat(claude): statuslineにセッションID追加
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat(claude): CPU/メモリ使用率とネットワーク状態を追加
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

fix(claude): CPU/メモリ/ネットワークアイコンを修正
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat(claude): 現在時刻とVPN状態を追加
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

style(claude): 現在時刻を先頭に移動
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

style(claude): 現在時刻を白太字に変更
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

refactor(claude): statusline整理（システム情報・経過時間を削除）
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

style(claude): statuslineをグラデーション+アクセントスタイルに刷新
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat(claude): パーミッション・Hooks設定を追加
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/hooks/auto-format.sh
  stow/claude/.claude/hooks/notify.sh
  stow/claude/.claude/settings.json
Due: shellcheck, protected-vars

feat(claude): MCP・プラグインのセットアップスクリプト追加
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/setup.sh
Due: shellcheck, protected-vars

feat(claude): statuslineにGit状態インジケータを追加
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

fix(claude): エージェントparse error修正・Atlassian MCP無効化
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/agents/architecture-reviewer.md
  stow/claude/.claude/agents/spec-analyst.md
Due: none

Path conditions:
  shellcheck: any of: *.sh
  yamllint: any of: *.{yml,yaml}
  zsh-syntax: any of: *.zsh
  protected-vars: any of: *.{zsh,sh}
