Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

lefthook.yml:

# ========================================
# lefthook - Git Hooks 自動化
# ========================================
# インストール: brew install lefthook && lefthook install

# pre-commit: コミット前チェック
pre-commit:
  parallel: true
  commands:
    # シェルスクリプトのlint
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      skip:
        - merge
        - rebase

    # YAML検証
    yamllint:
      glob: "*.{yml,yaml}"
      run: yamllint -d relaxed {staged_files}
      skip:
        - merge
        - rebase

    # Zsh構文チェック
    zsh-syntax:
      glob: "*.zsh"
      run: |
        for f in {staged_files}; do
          zsh -n "$f" || exit 1
        done
      skip:
        - merge
        - rebase

    # 保護された変数のunsetチェック
    protected-vars:
      glob: "*.{zsh,sh}"
      run: |
        protected="ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL"
        for f in {staged_files}; do
          if grep -qE "unset.+($protected)" "$f"; then
            echo "❌ $f: 保護された変数をunsetしています"
            grep -nE "unset.+($protected)" "$f"
            exit 1
          fi
        done
      skip:
        - merge
        - rebase

    # 末尾の空白チェック
    trailing-whitespace:
      run: git diff --check --cached
      skip:
        - merge
        - rebase

    # 機密情報チェック
    secrets:
      run: git secrets --scan --cached
      skip:
        - merge
        - rebase

# commit-msg: コミットメッセージ検証
commit-msg:
  commands:
    # Conventional Commits形式チェック
    conventional-commit:
      run: |
        commit_msg=$(cat {1})
        pattern="^(feat|fix|docs|style|refactor|perf|test|chore|ci|build|revert)(\(.+\))?: .{1,}"
        if ! echo "$commit_msg" | grep -qE "$pattern"; then
          echo "❌ コミットメッセージがConventional Commits形式ではありません"
          echo "   形式: <type>(<scope>): <subject>"
          echo "   例: feat(auth): ログイン機能を追加"
          echo ""
          echo "   有効なtype: feat, fix, docs, style, refactor, perf, test, chore, ci, build, revert"
          exit 1
        fi

# pre-push: プッシュ前チェック
pre-push:
  commands:
    # ブランチ名チェック（main/masterへの直接プッシュ防止）
    branch-protection:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [[ "$branch" == "main" || "$branch" == "master" ]]; then
          echo "⚠️  main/masterへの直接プッシュは非推奨です"
          echo "   feature/xxx ブランチを使用してください"
          # 警告のみ（exit 1 でブロック可能）
        fi

fix: improve dotfiles diagnostics
  Makefile
  README.md
  bootstrap.sh
  stow/git/.gitconfig
Due: shellcheck, protected-vars

chore(codex): tune status line
  stow/codex/.codex/config.toml
Due: none

feat: improve dotfiles maintenance workflow
  .github/workflows/ci.yml
  Brewfile
  Makefile
  README.md
  stow/codex/.codex/bin/commit-push.sh
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/functions/codex-functions.zsh
Due: shellcheck, yamllint, zsh-syntax, protected-vars

chore(codex): tune local config
  stow/codex/.codex/config.toml
Due: none

fix: improve dotfiles safety and runtime setup
  Makefile
  README.md
  bootstrap.sh
  stow/claude/.claude/settings.json
Due: shellcheck, protected-vars

chore(codex): update model availability nux
  stow/codex/.codex/config.toml
Due: none

fix: allow bootstrap dry-run without stow
  bootstrap.sh
Due: shellcheck, protected-vars

feat: add App Store Connect review MCP
  README.md
  stow/codex/.codex/bin/app-store-connect-review-mcp.mjs
  stow/codex/.codex/config.toml
Due: none

feat: add App Store Connect review MCP
  README.md
  stow/codex/.codex/bin/app-store-connect-review-mcp.mjs
Due: none

chore: add Codex desktop bootstrap
  Brewfile
  README.md
  bootstrap.sh
Due: shellcheck, protected-vars

feat: fastlane設定をdotfilesで再現可能にする
  Brewfile
  stow/zsh/.zsh/tools.zsh
  templates/fastlane-env.example
Due: zsh-syntax, protected-vars

feat: fastlane審査連絡先の環境変数を雛形に追加
  templates/fastlane-env.example
Due: none

feat: fastlane env 初期セットアップを忘れない仕組み
  Makefile
  bin/setup-fastlane-env
  stow/zsh/.zsh/tools.zsh
Due: zsh-syntax, protected-vars

feat: Claudeスラッシュコマンド /release-ios を追加
  stow/claude/.claude/commands/release-ios.md
Due: none

fix: CIのREADME件数不一致を修正
  README.md
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

fix: CIのREADME件数不一致を修正
  README.md
  stow/claude/.claude/statusline.sh
  stow/codex/.codex/config.toml
Due: shellcheck, protected-vars

chore(codex): config.tomlから絶対パスとlocal stateを除去
  stow/.stow-local-ignore
  stow/codex/.stow-local-ignore
  stow/zsh/.stow-local-ignore
Due: none

chore(codex): config.tomlから絶対パスとlocal stateを除去
  stow/.stow-local-ignore
  stow/codex/.codex/config.toml
  stow/codex/.stow-local-ignore
  stow/zsh/.stow-local-ignore
Due: none

feat(asc): fastlane互換のAPI Key環境変数をMCPでも受け付ける
  bin/setup-fastlane-env
  stow/codex/.codex/bin/app-store-connect-review-mcp.mjs
  templates/fastlane-env.example
Due: none

feat(macos): macOS defaultsを bin/apply-macos-defaults に分離
  bin/apply-macos-defaults
  bootstrap.sh
Due: shellcheck, protected-vars

feat(make): validate/snapshot/new-mac追加とCI強化
  .github/workflows/ci.yml
  .gitignore
  Makefile
  README.md
Due: yamllint

refactor: 採点レビュー指摘の堅牢化対応
  .github/workflows/ci.yml
  Makefile
  README.md
  bin/setup-fastlane-env
  bootstrap.sh
Due: shellcheck, yamllint, protected-vars

fix: dotfiles検証とzsh起動の堅牢化
  stow/codex/.codex/config.toml
  stow/zsh/.zsh/plugins.zsh
Due: zsh-syntax, protected-vars

fix: dotfiles検証とzsh起動の堅牢化
  stow/zsh/.zsh/plugins.zsh
Due: zsh-syntax, protected-vars

fix(ci): 空HOMEでのStow検証を安定化
  .github/workflows/ci.yml
  Makefile
Due: yamllint
