Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

shellcheck:
  run: shellcheck -S warning {staged_files}
  skip:
  - merge
  - rebase

yamllint:
  run: yamllint -d relaxed {staged_files}
  skip:
  - merge
  - rebase

zsh-syntax:
  run: "for f in {staged_files}; do\n  zsh -n \"$f\" || exit 1\ndone\n"
  skip:
  - merge
  - rebase

protected-vars:
  run: "protected=\"ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL\"\nfor f in {staged_files}; do\n  if grep -qE \"unset.+($protected)\" \"$f\"; then\n    echo \"❌ $f: 保護された変数をunsetしています\"\n    grep -nE \"unset.+($protected)\" \"$f\"\n    exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

chore(git): git-lfsのフィルター設定を追加
  stow/git/.gitconfig
Due: none

docs: READMEにBlenderの導入手順を追記
  README.md
Due: none

feat(agents): YouTube運営を一貫して進めるyoutube-opsスキルを追加
  README.md
  stow/agents/.agents/skills/youtube-ops/SKILL.md
  stow/agents/.agents/skills/youtube-ops/agents/openai.yaml
  stow/agents/.agents/skills/youtube-ops/assets/brief.template.md
  stow/agents/.agents/skills/youtube-ops/assets/channel-notes.template.md
  stow/agents/.agents/skills/youtube-ops/assets/channel.template.json
  stow/agents/.agents/skills/youtube-ops/assets/episode.template.json
  stow/agents/.agents/skills/youtube-ops/assets/performance.template.md
  stow/agents/.agents/skills/youtube-ops/assets/research.template.md
  stow/agents/.agents/skills/youtube-ops/assets/review.template.md
  stow/agents/.agents/skills/youtube-ops/references/artifact-contract.md
  stow/agents/.agents/skills/youtube-ops/references/editorial-system.md
  stow/agents/.agents/skills/youtube-ops/references/improvement-loop.md
  stow/agents/.agents/skills/youtube-ops/references/learning-product-integration.md
  stow/agents/.agents/skills/youtube-ops/references/pipeline.md
  stow/agents/.agents/skills/youtube-ops/references/public-case-study.md
  stow/agents/.agents/skills/youtube-ops/scripts/learning_product.mjs
  stow/agents/.agents/skills/youtube-ops/scripts/youtube_ops.mjs
Due: yamllint

chore: 実行時に生成される状態・成果物をGit管理から除外
  .gitignore
Due: none

fix(ci): 日本語描画環境と検証エラーの伝播を修正
  .github/workflows/ci.yml
  Makefile
  README.md
  stow/agents/.agents/skills/source-command-commit-push/SKILL.md
  tests/validation-gates.sh
Due: shellcheck, yamllint, protected-vars

fix(ci): 細い字形の測定とStow検証先を修正
  .github/workflows/ci.yml
  stow/design/.config/otake/visual-system/README.md
  stow/design/.config/otake/visual-system/scripts/svg-contrast.mjs
  stow/design/.config/otake/visual-system/test/contrast.test.mjs
  tests/validation-gates.sh
Due: shellcheck, yamllint, protected-vars

refactor(ci): 重複検証を整理しBrewfile監査を分離
  .github/workflows/brewfile.yml
  .github/workflows/ci.yml
  README.md
Due: yamllint

Path conditions:
  shellcheck: any of: *.sh
  yamllint: any of: *.{yml,yaml}
  zsh-syntax: any of: *.zsh
  protected-vars: any of: *.{zsh,sh}
