Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

shellcheck:
  run: shellcheck -S warning {staged_files}
  skip:
  - merge
  - rebase

yamllint:
  run: yamllint -d relaxed {staged_files}
  skip:
  - merge
  - rebase

zsh-syntax:
  run: "for f in {staged_files}; do\n  zsh -n \"$f\" || exit 1\ndone\n"
  skip:
  - merge
  - rebase

protected-vars:
  run: "protected=\"ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL\"\nfor f in {staged_files}; do\n  if grep -qE \"unset.+($protected)\" \"$f\"; then\n    echo \"❌ $f: 保護された変数をunsetしています\"\n    grep -nE \"unset.+($protected)\" \"$f\"\n    exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(macos): マウス・トラックパッド・UI設定を追加
  scripts/setup/macos_defaults.sh
Due: shellcheck, protected-vars

feat(zsh): ターミナル環境の大幅改善
  stow/zsh/.p10k.zsh
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/aliases/dev.zsh
  stow/zsh/.zsh/aliases/git.zsh
  stow/zsh/.zsh/core.zsh
  stow/zsh/.zsh/functions/util-functions.zsh
  stow/zsh/.zsh/tools.zsh
Due: zsh-syntax, protected-vars

chore: Brewfile・プラグイン最適化・lazygit/ripgrep設定追加
  Brewfile
  Makefile
  stow/lazygit/.config/lazygit/config.yml
  stow/ripgrep/.ripgreprc
  stow/zsh/.zsh/plugins.zsh
Due: yamllint, zsh-syntax, protected-vars

fix(bootstrap): STOW_PACKAGESにripgrep/lazygit等を追加
  bootstrap.sh
Due: shellcheck, protected-vars

refactor: 不要ツール・セグメント削除で軽量化
  Brewfile
  stow/zsh/.p10k.zsh
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/aliases/dev.zsh
Due: zsh-syntax, protected-vars

feat(claude): キーバインド設定を追加
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/keybindings.json
Due: none

feat(yazi): zoxide/fzf連携とシェル統合を追加
  stow/yazi/.config/yazi/keymap.toml
  stow/yazi/.config/yazi/plugins/fzf.yazi/init.lua
  stow/yazi/.config/yazi/plugins/zoxide.yazi/init.lua
Due: none

feat(fzf,zellij): 高度統合とtmux風キーバインドを追加
  stow/zellij/.config/zellij/config.kdl
  stow/zsh/.zsh/tools.zsh
Due: zsh-syntax, protected-vars

feat(claude): セッション管理関数とエイリアスを追加
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/functions/util-functions.zsh
Due: zsh-syntax, protected-vars

docs: READMEを最新の設定に更新
  README.md
Due: none

feat(statusline): 曜日+日付表示と曜日カラーを追加
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat: 視覚的フィードバック強化
  stow/claude/.claude/statusline.sh
  stow/zsh/.p10k.zsh
  stow/zsh/.zsh/core.zsh
Due: shellcheck, zsh-syntax, protected-vars

feat(zsh): 生産性向上機能を追加
  stow/zsh/.zsh/core.zsh
  stow/zsh/.zsh/functions/util-functions.zsh
Due: zsh-syntax, protected-vars

feat(p10k): ディレクトリ別プロンプト色を追加
  stow/zsh/.p10k.zsh
Due: zsh-syntax, protected-vars

refactor(claude): CLAUDE.mdを開発マネジメントパートナーに再設計
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/environment.md
Due: none

feat: 作業ログ・Git強化・バックアップ機能を追加
  stow/zsh/.zsh/aliases/git.zsh
  stow/zsh/.zsh/functions/util-functions.zsh
Due: zsh-syntax, protected-vars

fix(zsh): instant prompt警告とエイリアス競合を修正
  stow/zsh/.zsh/aliases/git.zsh
  stow/zsh/.zsh/core.zsh
Due: zsh-syntax, protected-vars

feat(claude): statusline-command.sh を dotfiles に追加
  stow/claude/.claude/statusline-command.sh
Due: shellcheck, protected-vars

refactor(zsh): 未使用・重複機能を削除
  stow/zsh/.zsh/functions/util-functions.zsh
Due: zsh-syntax, protected-vars

refactor(dotfiles): エイリアス競合解消とzellij削除
  Brewfile
  Makefile
  README.md
  bootstrap.sh
  stow/zellij/.config/zellij/config.kdl
  stow/zsh/.zsh/aliases/core.zsh
Due: shellcheck, zsh-syntax, protected-vars

feat(claude): ファイル操作パーミッションを追加
  stow/claude/.claude/settings.json
Due: none

refactor(zsh): stow/README更新とfbr関数の重複削除
  scripts/utils/dothelp.sh
  stow/README.md
  stow/zsh/.zsh/functions/fzf-functions.zsh
Due: shellcheck, zsh-syntax, protected-vars

feat(bootstrap): Claude Code セットアップの自動化オプションを追加
  bootstrap.sh
Due: shellcheck, protected-vars

fix(scripts): zsh_benchmark.shの変数展開バグを修正
  scripts/utils/zsh_benchmark.sh
Due: shellcheck, protected-vars

feat(claude): パイプライン操作の汎用許可を追加
  stow/claude/.claude/settings.json
Due: none

feat(claude): echo, printf, for ループの許可を追加
  stow/claude/.claude/settings.json
Due: none

chore(brew): 不要パッケージ削除と有用ツール追加
  Brewfile
Due: none

fix(zsh): lazy.zshからfbrスタブを削除
  stow/zsh/.zsh/lazy.zsh
Due: zsh-syntax, protected-vars

feat(p10k): 時刻表示に日付・曜日を追加し、曜日で色分け
  stow/zsh/.p10k.zsh
Due: zsh-syntax, protected-vars

feat(claude): 基本コマンドの許可を追加
  stow/claude/.claude/settings.json
Due: none

feat(statusline): バッテリー残量表示を追加
  stow/claude/.claude/settings.json
  stow/claude/.claude/statusline.sh
  stow/zsh/.p10k.zsh
Due: shellcheck, zsh-syntax, protected-vars

feat(claude): 許可設定の最適化とエージェント説明追加
  stow/claude/.claude/agents/architecture-reviewer.md
  stow/claude/.claude/agents/spec-analyst.md
  stow/claude/.claude/keybindings.json
  stow/claude/.claude/settings.json
Due: none

docs(gpg): GPG署名セットアップガイドを追加
  Brewfile
  docs/setup/GPG_SIGNING.md
Due: none

feat(claude): 設定強化と新規コマンド追加
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/commands/learn.md
  stow/claude/.claude/commands/verify.md
  stow/claude/.claude/commands/worktree.md
  stow/claude/.claude/environment.md
  stow/claude/.claude/hooks/auto-format.sh
  stow/claude/.claude/keybindings.json
  stow/claude/.claude/settings.json
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

chore: GitHub ActionsとREADME・zshrc更新
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/claude-learning.yml
  README.md
  stow/zsh/.zshrc
Due: yamllint

feat(claude): Docker/K8s許可とverifyコマンド強化
  stow/claude/.claude/agents/architecture-reviewer.md
  stow/claude/.claude/agents/spec-analyst.md
  stow/claude/.claude/commands/verify.md
  stow/claude/.claude/hooks/auto-format.sh
  stow/claude/.claude/hooks/verify.sh
  stow/claude/.claude/settings.json
Due: shellcheck, protected-vars

feat(claude): 環境検証スクリプト追加
  .gitignore
  stow/claude/.claude/validate.sh
Due: shellcheck, protected-vars

feat: GPG・direnv・editorconfig設定を追加
  Makefile
  stow/direnv/.config/direnv/direnv.toml
  stow/direnv/.direnvrc
  stow/git/.editorconfig
  stow/gpg/.gnupg/gpg-agent.conf
  stow/gpg/.gnupg/gpg.conf
  stow/zsh/.zsh/tools.zsh
Due: zsh-syntax, protected-vars

refactor(claude): Bash許可をワイルドカードに簡素化
  stow/claude/.claude/settings.json
Due: none

feat(claude): WebFetch/WebSearch自動許可を追加
  stow/claude/.claude/settings.json
Due: none

Path conditions:
  shellcheck: any of: *.sh
  yamllint: any of: *.{yml,yaml}
  zsh-syntax: any of: *.zsh
  protected-vars: any of: *.{zsh,sh}
