Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

shellcheck:
  run: shellcheck -S warning {staged_files}
  skip:
  - merge
  - rebase

yamllint:
  run: yamllint -d relaxed {staged_files}
  skip:
  - merge
  - rebase

zsh-syntax:
  run: "for f in {staged_files}; do\n  zsh -n \"$f\" || exit 1\ndone\n"
  skip:
  - merge
  - rebase

protected-vars:
  run: "protected=\"ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL\"\nfor f in {staged_files}; do\n  if grep -qE \"unset.+($protected)\" \"$f\"; then\n    echo \"❌ $f: 保護された変数をunsetしています\"\n    grep -nE \"unset.+($protected)\" \"$f\"\n    exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat: cmux（Ghosttyベースターミナル）をdotfiles管理に追加
  Brewfile
  scripts/setup/macos_defaults.sh
Due: shellcheck, protected-vars

feat(cmux): cmux統合強化 — 通知フック・カスタムコマンド・PATH設定
  Makefile
  stow/claude/.claude/hooks/notify.sh
  stow/claude/.claude/settings.json
  stow/cmux/.config/cmux/cmux.json
  stow/zsh/.zshrc
Due: shellcheck, protected-vars

chore: 不要ファイル削除（PMBOK専門スクリプト・未使用画像）
  scripts/setup/pmbok-gas-automation.js
  scripts/setup/pmbok-spreadsheet.sh
Due: shellcheck, protected-vars

refactor: dotfiles整合性修正（パス・ドキュメント・エージェント・配置）
  stow/claude/.claude/agents/architecture-reviewer.md
  stow/claude/.claude/agents/spec-analyst.md
  stow/claude/.claude/environment.md
  stow/claude/.claude/templates/team-plan-template.md
  stow/zsh/.zshrc
Due: none

feat: ベストプラクティス3点導入（Mermaid図・op-env・学習ループ）
  scripts/utils/op-env.sh
  stow/claude/.claude/.env.tpl
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/environment.md
  stow/claude/.claude/settings.json
Due: shellcheck, protected-vars

refactor: dotfilesスリム化 — Brew13削減・stow2削減・命名統一
  .github/workflows/ci.yml
  Brewfile
  Makefile
  README.md
  bootstrap.sh
  docs/ARCHITECTURE.md
  scripts/lib/common.sh
  scripts/lib/os-detect.sh
  scripts/maintenance/check-updates.sh
  scripts/maintenance/sync-brewfile.sh
  scripts/maintenance/update-all.sh
  scripts/maintenance/verify-setup.sh
  scripts/setup/macos-defaults.sh
  scripts/setup/ssh-config.template
  scripts/utils/setup-ssh.sh
  scripts/utils/zsh-benchmark.sh
  stow/README.md
  stow/ai-prompts/.ai-prompts/README.md
  stow/ai-prompts/.ai-prompts/claude/project-templates/README.md
  stow/ai-prompts/.ai-prompts/gemini/_template.md
  stow/ai-prompts/.ai-prompts/gemini/coding-mentor.md
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/aliases/dev.zsh
Due: shellcheck, yamllint, zsh-syntax, protected-vars

chore: cask4削減（dbeaver/bruno/orbstack/appcleaner）
  Brewfile
Due: none

chore: orbstack復帰（BE開発でDocker必要）
  Brewfile
Due: none

chore: bun削除（tap+brew+エイリアス+設定）Node.jsで代替
  Brewfile
  docs/ARCHITECTURE.md
  scripts/utils/dothelp.sh
  stow/zsh/.aliases
  stow/zsh/.zsh/aliases/node.zsh
  stow/zsh/.zsh/tools.zsh
  stow/zsh/.zshrc
Due: shellcheck, zsh-syntax, protected-vars

chore: awscli削除（未使用、必要時にinstall）
  Brewfile
Due: none

chore: gnupg・lazygit削除（未使用、stow/gpg・stow/lazygit も除去）
  .github/workflows/ci.yml
  Brewfile
  Makefile
  README.md
  bootstrap.sh
  docs/ARCHITECTURE.md
  stow/README.md
  stow/gpg/.gnupg/gpg-agent.conf
  stow/gpg/.gnupg/gpg.conf
  stow/lazygit/.config/lazygit/config.yml
  stow/zsh/.zsh/aliases/git.zsh
Due: shellcheck, yamllint, zsh-syntax, protected-vars

chore: 開発ツール5削減（tokei/hyperfine/wget/yq/mas）
  Brewfile
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/aliases/dev.zsh
Due: zsh-syntax, protected-vars

chore: homerow削除（未使用）
  Brewfile
Due: none

style: Brewfile空セクション・空行整理
  Brewfile
Due: none

refactor: Makefile簡素化（134行→65行）
  Makefile
Due: none

chore: docs4ファイル削除（1,361行）
  docs/GITHUB_PROJECT_MANAGEMENT.md
  docs/remote-access.md
  docs/setup/APPS.md
  docs/setup/GPG_SIGNING.md
Due: none

refactor: bootstrap.sh簡素化（738行→420行）
  bootstrap.sh
Due: shellcheck, protected-vars

chore: .gitignoreにLibrary/追加（Claude Code自動生成ファイル）
  .gitignore
Due: none

refactor: lefthook.yml簡素化（96行→53行）
  lefthook.yml
Due: yamllint

refactor: lefthook最小化（25行）shellcheck/zsh/secrets/conventionalのみ
  lefthook.yml
Due: yamllint

chore: lefthook削除（個人dotfilesに過剰なpre-commit hooks不要）
  .github/workflows/ci.yml
  Brewfile
  README.md
  bootstrap.sh
  docs/ARCHITECTURE.md
  docs/TROUBLESHOOTING.md
  lefthook.yml
  scripts/maintenance/verify-setup.sh
Due: shellcheck, yamllint, protected-vars

Path conditions:
  shellcheck: any of: *.sh
  yamllint: any of: *.{yml,yaml}
  zsh-syntax: any of: *.zsh
  protected-vars: any of: *.{zsh,sh}
