Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

shellcheck:
  run: shellcheck -S warning {staged_files}
  skip:
  - merge
  - rebase

yamllint:
  run: yamllint -d relaxed {staged_files}
  skip:
  - merge
  - rebase

zsh-syntax:
  run: "for f in {staged_files}; do\n  zsh -n \"$f\" || exit 1\ndone\n"
  skip:
  - merge
  - rebase

protected-vars:
  run: "protected=\"ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL\"\nfor f in {staged_files}; do\n  if grep -qE \"unset.+($protected)\" \"$f\"; then\n    echo \"❌ $f: 保護された変数をunsetしています\"\n    grep -nE \"unset.+($protected)\" \"$f\"\n    exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat: Cursor拡張リストを2026ベストプラクティスに合わせて刷新
  stow/cursor/.config/cursor/extensions.txt
Due: none

feat: Obsidianをアプリインストール対象に追加しVaultリポへのポインタを記載
  Brewfile
  README.md
Due: none

chore(brewfile): ドキュメント生成セクション新設＋pandoc/typst/poppler 追加
  Brewfile
Due: none

feat(statusline): rate-limit に残量と相対リセット時間を併記
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat(zsh): CLAUDE_CODE_NO_FLICKER を有効化
  stow/zsh/.zsh/core.zsh
Due: zsh-syntax, protected-vars

feat(claude): tui を fullscreen に固定しフリッカーフリー起動
  stow/claude/.claude/settings.json
Due: none

feat(statusline): 使用量しきい値通知とキャッシュ節約額表示
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat(make): doctor ターゲット追加（stow 同期＋壊れリンク検出）
  Makefile
Due: none

chore(brewfile): メディア・文字起こしツール追加 (ffmpeg/yt-dlp/whisper-cpp)
  Brewfile
Due: none

chore(claude): defaultMode を plan→auto に変更
  stow/claude/.claude/settings.json
Due: none

feat(brewfile): OpenAI Codex CLI 追加
  Brewfile
Due: none

docs(agents): Codex CLI 用 AGENTS.md 追加
  AGENTS.md
Due: none

chore(claude): git push を allow へ昇格、auto モード同意フラグ保存
  stow/claude/.claude/settings.json
Due: none

feat(zsh): Codex CLI エイリアス追加
  stow/zsh/.zsh/aliases/core.zsh
Due: zsh-syntax, protected-vars

feat(zsh): gd エイリアスで develop 即同期
  stow/zsh/.zsh/aliases/core.zsh
Due: zsh-syntax, protected-vars

feat(claude): cmux claude-hook を SessionStart/Stop/Notification に統合
  stow/claude/.claude/hooks/notify.sh
  stow/claude/.claude/settings.json
Due: shellcheck, protected-vars

docs(claude): 4.7 運用原則（委譲・自律・検証）を追記
  stow/claude/.claude/CLAUDE.md
Due: none

feat: add codex dotfiles
  .gitignore
  Makefile
  README.md
  stow/.stow-local-ignore
  stow/codex/.codex/AGENTS.md
  stow/codex/.codex/config.toml
  stow/codex/.codex/hooks.json
  stow/codex/.codex/hooks/notify.sh
  stow/codex/.codex/hooks/stop.sh
  stow/codex/.codex/hooks/verify.sh
Due: shellcheck, protected-vars

feat: add codex dotfiles
  .gitignore
  Makefile
  README.md
  stow/.stow-local-ignore
  stow/codex/.codex/AGENTS.md
  stow/codex/.codex/hooks.json
  stow/codex/.codex/hooks/notify.sh
  stow/codex/.codex/hooks/stop.sh
  stow/codex/.codex/hooks/verify.sh
Due: shellcheck, protected-vars

feat: add mf-ca claude mcp
  bootstrap.sh
  stow/claude/.claude/environment.md
Due: shellcheck, protected-vars

feat: add codex commit push helper
  Makefile
  README.md
  stow/codex/.codex/bin/commit-push.sh
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/core.zsh
  stow/zsh/.zsh/functions/codex-functions.zsh
Due: shellcheck, zsh-syntax, protected-vars

feat: add codex commit push helper
  Makefile
  README.md
  stow/codex/.codex/bin/commit-push.sh
  stow/codex/.codex/config.toml
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/core.zsh
  stow/zsh/.zsh/functions/codex-functions.zsh
Due: shellcheck, zsh-syntax, protected-vars

fix(codex): update MCP and hooks config
  stow/codex/.codex/config.toml
Due: none

Path conditions:
  shellcheck: any of: *.sh
  yamllint: any of: *.{yml,yaml}
  zsh-syntax: any of: *.zsh
  protected-vars: any of: *.{zsh,sh}
