Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

lefthook.yml:

# ========================================
# lefthook - Git Hooks 自動化
# ========================================
# インストール: brew install lefthook && lefthook install

# pre-commit: コミット前チェック
pre-commit:
  parallel: true
  commands:
    # シェルスクリプトのlint
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      skip:
        - merge
        - rebase

    # YAML検証
    yamllint:
      glob: "*.{yml,yaml}"
      run: yamllint -d relaxed {staged_files}
      skip:
        - merge
        - rebase

    # Zsh構文チェック
    zsh-syntax:
      glob: "*.zsh"
      run: |
        for f in {staged_files}; do
          zsh -n "$f" || exit 1
        done
      skip:
        - merge
        - rebase

    # 保護された変数のunsetチェック
    protected-vars:
      glob: "*.{zsh,sh}"
      run: |
        protected="ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL"
        for f in {staged_files}; do
          if grep -qE "unset.+($protected)" "$f"; then
            echo "❌ $f: 保護された変数をunsetしています"
            grep -nE "unset.+($protected)" "$f"
            exit 1
          fi
        done
      skip:
        - merge
        - rebase

    # 末尾の空白チェック
    trailing-whitespace:
      run: git diff --check --cached
      skip:
        - merge
        - rebase

    # 機密情報チェック
    secrets:
      run: git secrets --scan --cached
      skip:
        - merge
        - rebase

# commit-msg: コミットメッセージ検証
commit-msg:
  commands:
    # Conventional Commits形式チェック
    conventional-commit:
      run: |
        commit_msg=$(cat {1})
        pattern="^(feat|fix|docs|style|refactor|perf|test|chore|ci|build|revert)(\(.+\))?: .{1,}"
        if ! echo "$commit_msg" | grep -qE "$pattern"; then
          echo "❌ コミットメッセージがConventional Commits形式ではありません"
          echo "   形式: <type>(<scope>): <subject>"
          echo "   例: feat(auth): ログイン機能を追加"
          echo ""
          echo "   有効なtype: feat, fix, docs, style, refactor, perf, test, chore, ci, build, revert"
          exit 1
        fi

# pre-push: プッシュ前チェック
pre-push:
  commands:
    # ブランチ名チェック（main/masterへの直接プッシュ防止）
    branch-protection:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [[ "$branch" == "main" || "$branch" == "master" ]]; then
          echo "⚠️  main/masterへの直接プッシュは非推奨です"
          echo "   feature/xxx ブランチを使用してください"
          # 警告のみ（exit 1 でブロック可能）
        fi

refactor: bootstrap.shを整理（505→429行、不要設定削除・構造改善）
  bootstrap.sh
Due: shellcheck, protected-vars

chore: LICENSE削除（個人dotfilesに不要）
  LICENSE
Due: none

fix: bootstrap.shのBrew集計バグ修正・README実態乖離の是正
  Brewfile
  Makefile
  README.md
  bootstrap.sh
  stow/zsh/.zsh/lazy.zsh
Due: shellcheck, zsh-syntax, protected-vars

refactor: bootstrap.shスリム化（418→296行）・不要機能削除
  bootstrap.sh
  stow/claude/.claude/environment.md
  stow/zsh/.tool-versions
Due: shellcheck, protected-vars

chore: .tool-versionsをgitignoreに追加（hookのnode解決エラー対策）
  .gitignore
Due: none

feat: .tool-versionsをStowパッケージ(asdf)で管理
  .gitignore
  Makefile
  stow/asdf/.tool-versions
Due: none

refactor: 自動生成ファイル・テンプレート・setup.shの整理
  .gitignore
  bootstrap.sh
  stow/claude/.claude/setup.sh
  stow/git/.stow-local-ignore
  stow/zsh/.p10k.zsh
  stow/zsh/.stow-local-ignore
  templates/gitconfig.local.template
  templates/zshrc.local.template
Due: shellcheck, zsh-syntax, protected-vars

refactor: util-functions.zsh整理（304→72行）・関心の分離
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/core.zsh
  stow/zsh/.zsh/functions/claude-functions.zsh
  stow/zsh/.zsh/functions/util-functions.zsh
  stow/zsh/.zsh/plugins.zsh
Due: zsh-syntax, protected-vars

chore: Brewfile分類修正・README整理・cmuxプリセット棚卸し
  Brewfile
  README.md
  stow/cmux/.config/cmux/cmux.json
Due: none

chore: 減点法レビューで検出した7項目を修正
  .editorconfig
  .shellcheckrc
  Makefile
  bootstrap.sh
  stow/claude/.claude/hooks/auto-update.sh
  stow/claude/.claude/hooks/update-brewfile.sh
  stow/zsh/.zshrc
Due: shellcheck, protected-vars

chore: 減点法レビューで検出した6項目を修正
  .gitignore
  README.md
  bootstrap.sh
  stow/zsh/.zsh/aliases/core.zsh
Due: shellcheck, zsh-syntax, protected-vars

chore: 減点法レビューで検出した13項目を修正
  README.md
  bootstrap.sh
  stow/nvim/.config/nvim/init.lua
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/core.zsh
  stow/zsh/.zsh/functions/fzf-functions.zsh
  stow/zsh/.zsh/functions/git-functions.zsh
  stow/zsh/.zsh/functions/util-functions.zsh
  stow/zsh/.zsh/plugins.zsh
  stow/zsh/.zshrc
  templates/zshrc.local.template
Due: shellcheck, zsh-syntax, protected-vars

refactor: asdf Java統合・遅延ラッパー整合・不要プラグイン削除
  stow/asdf/.tool-versions
  stow/yazi/.config/yazi/plugins/git.yazi/init.lua
  stow/zsh/.zsh/lazy.zsh
Due: zsh-syntax, protected-vars

chore: 減点法レビューで検出した4項目を修正
  .github/workflows/ci.yml
  README.md
  stow/zsh/.zsh/tools.zsh
Due: yamllint, zsh-syntax, protected-vars

docs: README減点法レビューで検出した6項目を修正
  README.md
Due: none

docs: README減点法レビューで検出した5項目を修正
  README.md
Due: none

chore: vercelとterraformのlazy-loading関数を追加
  stow/zsh/.zsh/lazy.zsh
Due: zsh-syntax, protected-vars

feat: Cursor拡張機能リストを dotfiles 管理下に追加
  Makefile
  stow/cursor/.config/cursor/extensions.txt
  stow/cursor/README.md
Due: none

feat: Cursor拡張リストを2026ベストプラクティスに合わせて刷新
  stow/cursor/.config/cursor/extensions.txt
Due: none
