Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

shellcheck:
  run: shellcheck -S warning {staged_files}
  skip:
  - merge
  - rebase

yamllint:
  run: yamllint -d relaxed {staged_files}
  skip:
  - merge
  - rebase

zsh-syntax:
  run: "for f in {staged_files}; do\n  zsh -n \"$f\" || exit 1\ndone\n"
  skip:
  - merge
  - rebase

protected-vars:
  run: "protected=\"ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL\"\nfor f in {staged_files}; do\n  if grep -qE \"unset.+($protected)\" \"$f\"; then\n    echo \"❌ $f: 保護された変数をunsetしています\"\n    grep -nE \"unset.+($protected)\" \"$f\"\n    exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

refactor: CLAUDE.md重複排除、environment.mdスリム化、パッケージリストDRY化
  .github/workflows/ci.yml
  Makefile
  bootstrap.sh
  stow/claude/.claude/CLAUDE.md
  stow/claude/.claude/environment.md
Due: shellcheck, yamllint, protected-vars

chore: lint対象拡大＋.hushlogin追加
  Makefile
  stow/zsh/.hushlogin
Due: none

fix: bootstrap.shの4つのバグ修正
  bootstrap.sh
Due: shellcheck, protected-vars

feat: yazi強化（キーバインド追加＋プラグイン2つ＋起動エラー修正）
  stow/yazi/.config/yazi/keymap.toml
  stow/yazi/.config/yazi/plugins/chmod.yazi/init.lua
  stow/yazi/.config/yazi/plugins/git.yazi/init.lua
  stow/yazi/.config/yazi/yazi.toml
Due: none

refactor: OMZ alias解除をcore.zshに移動（関数読み込み前に実行）
  stow/zsh/.zsh/aliases/git.zsh
  stow/zsh/.zsh/core.zsh
Due: zsh-syntax, protected-vars

chore: dotファイル整理（CI統一、serenaスリム化、gitignore拡充）
  .github/workflows/ci.yml
  .gitignore
  .serena/.gitignore
  .serena/project.yml
Due: yamllint

refactor: .zshrc.local.templateをstow/zsh/に移動
  bootstrap.sh
  stow/zsh/.stow-local-ignore
  stow/zsh/.zshrc.local.template
Due: shellcheck, protected-vars

chore: stow設定の冗長削除（atuin/git/yazi -28行）
  stow/atuin/.config/atuin/config.toml
  stow/git/.gitconfig
  stow/yazi/.config/yazi/keymap.toml
  stow/yazi/.config/yazi/yazi.toml
Due: none

feat: statusline 3行化（Usage/コスト/diff）+ README・CI強化
  .github/workflows/ci.yml
  README.md
  stow/claude/.claude/statusline.sh
Due: shellcheck, yamllint, protected-vars

refactor: statusline性能改善（jq一括化）+ worktree/session_name/API比率表示追加
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat: statusline強化（キャッシュ率・累積トークン・200K警告・段階バッテリー・net diff・8ブロックバー）+ fork数削減
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

fix: ターミナル設定の安全性・レスポンス改善（blur有効化・eval除去・brew search除去・実行時間表示一本化）
  stow/ghostty/.config/ghostty/config
  stow/zsh/.p10k.zsh
  stow/zsh/.zsh/core.zsh
  stow/zsh/.zsh/lib/cache.zsh
Due: zsh-syntax, protected-vars

fix: CIのbootstrapジョブでstow競合エラーを修正（make install→make check）
  .github/workflows/ci.yml
Due: yamllint

chore: .serena/をgitignore化 + .shellcheckrcのコメント補足
  .gitignore
  .serena/project.yml
  .shellcheckrc
Due: yamllint

fix: _cache_updateの引数をクォート除去してzoxide/atuin初期化を修正
  stow/zsh/.zsh/lazy.zsh
  stow/zsh/.zsh/lib/cache.zsh
  stow/zsh/.zsh/tools.zsh
Due: zsh-syntax, protected-vars

refactor: MCPサーバー構成を整理（未使用削除＋日本特化・GitHub追加）
  stow/claude/.claude/environment.md
  stow/claude/.claude/settings.json
  stow/claude/.claude/setup.sh
Due: shellcheck, protected-vars

refactor: dotfiles品質改善（構造整理・セキュリティ・再現性向上）
  .github/workflows/ci.yml
  .gitignore
  Brewfile
  LICENSE
  README.md
  bootstrap.sh
  stow/git/.commit-template.txt
  stow/git/.editorconfig
  stow/git/.gitconfig
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/aliases/system.zsh
  stow/zsh/.zsh/functions/fzf-functions.zsh
  stow/zsh/.zsh/functions/util-functions.zsh
  stow/zsh/.zsh/lazy.zsh
Due: shellcheck, yamllint, zsh-syntax, protected-vars

refactor: エイリアスを141個→55個に削減し1ファイルに集約
  stow/zsh/.zsh/aliases/core.zsh
  stow/zsh/.zsh/aliases/dev.zsh
  stow/zsh/.zsh/aliases/git.zsh
  stow/zsh/.zsh/aliases/system.zsh
Due: zsh-syntax, protected-vars

chore: .tool-versionsのランタイムバージョンを最新に更新
  stow/zsh/.tool-versions
Due: none

revert: .tool-versionsをインストール済みバージョンに戻す
  stow/zsh/.tool-versions
Due: none

refactor: bootstrap.shを整理（505→429行、不要設定削除・構造改善）
  bootstrap.sh
Due: shellcheck, protected-vars

Path conditions:
  shellcheck: any of: *.sh
  yamllint: any of: *.{yml,yaml}
  zsh-syntax: any of: *.zsh
  protected-vars: any of: *.{zsh,sh}
