Repository otake-shol/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, yamllint, zsh-syntax, protected-vars

shellcheck:
  run: shellcheck -S warning {staged_files}
  skip:
  - merge
  - rebase

yamllint:
  run: yamllint -d relaxed {staged_files}
  skip:
  - merge
  - rebase

zsh-syntax:
  run: "for f in {staged_files}; do\n  zsh -n \"$f\" || exit 1\ndone\n"
  skip:
  - merge
  - rebase

protected-vars:
  run: "protected=\"ZSH_CONFIG_DIR|DOTFILES_DIR|HOME|PATH|SHELL\"\nfor f in {staged_files}; do\n  if grep -qE \"unset.+($protected)\" \"$f\"; then\n    echo \"❌ $f: 保護された変数をunsetしています\"\n    grep -nE \"unset.+($protected)\" \"$f\"\n    exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(zsh): 端末起動中は画面OFFを抑止（電池残量連動）
  stow/zsh/.zsh/core.zsh
Due: zsh-syntax, protected-vars

feat(zsh): iCloud等の同期フォルダからのclaude/codex起動を安全化するラッパー
  stow/zsh/.zsh/core.zsh
Due: zsh-syntax, protected-vars

feat(claude): statuslineにeffort/fast mode/PR状態を追加し既存バグを修正
  stow/claude/.claude/settings.json
  stow/claude/.claude/statusline.sh
Due: shellcheck, protected-vars

feat(claude): pc-checkupにClaude Codeのディスク掃除手順を追加
  stow/claude/.claude/commands/pc-checkup.md
Due: none

chore(codex): モデルをgpt-5.6-solに変更しreasoning effortをxhighへ
  stow/codex/.codex/config.toml
Due: none

docs(codex): MCP commandの~が絶対パス化する件にガードコメントを追加
  stow/codex/.codex/config.toml
Due: none

chore(codex): .sandbox_migrationをgitignoreに追加
  .gitignore
Due: none

feat(codex): Remote Control連携とセッション整理を自動化
  .gitignore
  README.md
  stow/codex/.codex/bin/session-cleanup.mjs
  stow/codex/.stow-local-ignore
  stow/zsh/.zsh/core.zsh
Due: zsh-syntax, protected-vars

docs(ai): 資料文体ルールを統一
  stow/claude/.claude/CLAUDE.md
  stow/codex/.codex/AGENTS.md
Due: none

feat: 開発環境とAIツール運用を拡張・安全化
  .github/workflows/ci.yml
  .gitignore
  Brewfile
  Makefile
  README.md
  bootstrap.sh
  stow/claude/.claude/hooks/remote-session-check.sh
  stow/claude/.claude/settings.json
  stow/claude/.claude/skills/app-icon-retype/SKILL.md
  stow/claude/.stow-local-ignore
  stow/codex/.codex/bin/commit-push.sh
  stow/codex/.stow-local-ignore
  stow/design/.agents/skills/exam-app-design-system/SKILL.md
  stow/design/.agents/skills/exam-app-design-system/agents/openai.yaml
  stow/design/.agents/skills/exam-app-design-system/references/acceptance-checklist.md
  stow/design/.agents/skills/exam-app-design-system/references/source-routing.md
  tests/bootstrap-safety.sh
Due: shellcheck, yamllint, protected-vars

feat: 開発環境とAIツール運用を拡張・安全化
  .github/workflows/ci.yml
  .gitignore
  Brewfile
  Makefile
  README.md
  bootstrap.sh
  stow/claude/.claude/hooks/remote-session-check.sh
  stow/claude/.claude/settings.json
  stow/claude/.claude/skills/app-icon-retype/SKILL.md
  stow/claude/.stow-local-ignore
  stow/codex/.codex/bin/commit-push.sh
  stow/codex/.codex/config.toml
  stow/codex/.stow-local-ignore
  stow/design/.agents/skills/exam-app-design-system/SKILL.md
  stow/design/.agents/skills/exam-app-design-system/agents/openai.yaml
  stow/design/.agents/skills/exam-app-design-system/references/acceptance-checklist.md
  stow/design/.agents/skills/exam-app-design-system/references/source-routing.md
  tests/bootstrap-safety.sh
Due: shellcheck, yamllint, protected-vars

docs: EAS無料枠が尽きたらローカルビルドへ切り替える方針を追加
  stow/claude/.claude/commands/release-ios.md
  stow/codex/.codex/AGENTS.md
Due: none

feat(claude): fact スキルを追加——判断を伴わない一次情報の記録専用
  stow/claude/.claude/skills/fact/SKILL.md
Due: none

docs(claude): fact スキルに daily-log の死因を追記——推測でなく仕様側の特定
  stow/claude/.claude/skills/fact/SKILL.md
Due: none

docs(claude): fact と daily-log の実質的な差は「空白の可視性」1点と明記＋9/27の判定基準
  stow/claude/.claude/skills/fact/SKILL.md
Due: none

feat: AI開発環境と技術執筆スキルを拡張
  .gitignore
  Brewfile
  README.md
  stow/claude/.claude/settings.json
  stow/claude/.claude/skills/eli5/SKILL.md
  stow/claude/.claude/skills/explain-visually/ATTRIBUTION.md
  stow/claude/.claude/skills/explain-visually/SKILL.md
  stow/claude/.claude/skills/explain-visually/assets/template.html
  stow/claude/.claude/skills/explain-visually/scripts/verify_page.py
  stow/claude/.stow-local-ignore
  stow/codex/.agents/skills/article-review/SKILL.md
  stow/codex/.agents/skills/article-review/agents/openai.yaml
  stow/codex/.agents/skills/article-review/references/editorial-checklist.md
  stow/codex/.agents/skills/article-review/references/source-and-license.md
  stow/codex/.agents/skills/tech-review/SKILL.md
  stow/codex/.agents/skills/tech-review/agents/openai.yaml
  stow/codex/.agents/skills/tech-review/references/source-and-license.md
  stow/codex/.agents/skills/tech-review/references/technical-checklist.md
  stow/codex/.agents/skills/technical-blog-writing/SKILL.md
  stow/codex/.agents/skills/technical-blog-writing/agents/openai.yaml
  stow/codex/.agents/skills/technical-blog-writing/references/article-patterns.md
  stow/codex/.agents/skills/technical-blog-writing/references/publication-checklist.md
  stow/codex/.agents/skills/technical-blog-writing/references/source-and-license.md
  stow/codex/.codex/hooks.json
  stow/codex/.stow-local-ignore
  stow/design/.agents/skills/eli5/SKILL.md
  stow/design/.agents/skills/eli5/agents/openai.yaml
  stow/ssh/.ssh/config
Due: yamllint

fix(security): remove machine-specific metadata
  .gitignore
  Makefile
  README.md
  bin/setup-codex-config
  bootstrap.sh
  stow/codex/.stow-local-ignore
  templates/codex-config.toml.template
  templates/codex-hooks.json.template
  tests/bootstrap-safety.sh
Due: shellcheck, protected-vars

fix(security): sanitize remaining local path
  Makefile
Due: none

feat(codex): Too many open files対策としてfd上限引き上げとゾンビプロセス清掃を追加
  bin/cleanup-codex-zombies
  stow/claude/.claude/commands/pc-checkup.md
  stow/zsh/.zshrc
Due: none

Path conditions:
  shellcheck: any of: *.sh
  yamllint: any of: *.{yml,yaml}
  zsh-syntax: any of: *.zsh
  protected-vars: any of: *.{zsh,sh}
